* {
  box-sizing: border-box;
 }
  
 body {
  background-color: gray;
 }
  
 ul {
  padding: 0%;
  margin: 0%;
 }
  
 li {
  list-style-type: none;
 }
  
 a {
  text-decoration: none;
  color: white;
 }
  
 .h4Detalles {
  margin: 10px;
  text-align: left;
  color: white;
  font-weight: 100;
 }
  
 header {
  background-color: black;
  margin: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
  
 .contenedorTotalHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
 }
  
 .LogoHome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  }
  
 .logoHome a {
  width: 100%;
 }
  
 .logo {
  margin: 0%;
  float:left;
  padding:50px 0 ;
  width: 400px;
  height: 200px;
 }
  
  
 .buscadorHeader {
  padding: 20px;
 }
  
 h3 {
  margin: 0;
 }
  
 #MainDelIndex h2 {
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 20px;
 }
  
 article h3,
 p {
  text-align: center;
 }
  
 .contenedorArticulos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
 }
  
 .contenedorArticulos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  display: block;
 }
 .contenedorArticulosPeliculas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 }
  
 .contenedorArticulosSeriesPopulares {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 }
  
 .contenedorArticulosPelisTop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 }
  
 .contenedorArticulosDetallesGenero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
 }
  
 .articulosIndex {
  background-color: black;
  color: white;
  font-weight: 300;
  border-radius: 7px;
  margin: 5%;
  width: 80%;
  
 }
 .contenedorImagen img {
  width: 100%;
  height: 100%;
 }
  
 .subtitulo {
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
 }
  
 .contenedorImagen img {
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
  
 .main-footer {
  background-color: black;
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  height: 30vh;
  justify-content: center;
  align-items: center;
  }
  
 .listadoIndex {
  text-align: center;
 }
  
 .navegadorHeader ul li {
  text-align: right;
  display: flex;
  font-size: 25px;
  
 }
  
 .cajaPelicula {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  margin: 40px;
  align-items: center;
  background-color: black;
  border-radius: 50px;
 }
  
 .articuloPelicula {
  width: 35%;
  margin: 5px;
  display: flex;
 }
  
 .articuloPelicula img {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
 }
  
 .listaPelicula {
  font-size: 25px;
  display: flex;
  width: 60%;
  color: whitesmoke;
  text-align: center;
 }
 .listaSerie{
    font-size: 25px;
    display: flex;
    width: 60%;
    color: whitesmoke;
    text-align: center;
 }
 .listaPelicula ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  text-align: center;
 }
  
 .listaSerie ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-align: center;
  }
  
 .descripcionPelicula {
  color: whitesmoke;
  margin: 10px;
  font-size: 40px;
  text-align: justify;
  border-radius: 20px;
 }
  
 .cajaSerie {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 40px;
  align-items: center;
  background-color: black;
  border-radius: 50px;
 }
  
 .articuloSerie {
  width: 35%;
  margin: 5px;
 }
  
 .articuloSerie img {
  width: 90%;
 }
  
 .listaSerie {
  display: flex;
  width: 60%;
  color: whitesmoke;
 }
  
 .listaSerie ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }
  
 .descripcionSerie {
  color: whitesmoke;
  margin: 10px;
  text-align: justify;
 }
  
 .subtitulosDetalles {
  color: white;
  font-size: 15px;
  text-align: center;
  margin: 5%;
 }
  
 .subtitulosDetalles ul {
  font-size: 20px;
  color: white;
 }
  
 .contenedorGenres {
  flex-direction: row;
  flex-wrap: wrap;
 }
  
 .contenedorGenresSeries {
  flex-direction: row;
  flex-wrap: wrap;
 }
 .tituloGenres {
  color: whitesmoke;
  text-align: center;
 }
  
 .articulosGenres {
  padding: 5px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  background-color: black;
 }
 .titularGeneros {
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
 }
  
 .contenedorArticulosFavoritos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  flex-direction: row;
 }
 .contenedorArticulosFavoritosSeries {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
 }
 .contenedorArticulosFavoritosPelicula {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  flex-direction: row;
 }
  
 .listaPelicula {
  font-size: 30px;
 }
 .listaSerie{
    font-size:30px;
 }
 .descripcionPelicula {
  font-size: 20px;
 }
  
 h1#favoritosTitular {
  text-align: center;
  color: whitesmoke;
  font-weight: 300;
 }
  
 #sinResultados {
  display: none;
 }
  
 #main-footerDos {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
  margin: 125px 0px 0px 0px;
  border-top: 2px solid white;
 }
  
  .buscadorHeaderInput {
    width: 50%;
  }
  .articulosIndex {
    background-color: black;
    color: white;
    width: 15%;
  }
  .logo {
    width: 50%;
    margin: 0%;
  }
  .logoHome {
    width: 30%;
    display: flex;
  }
  .articulosDeNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    margin: 0%;
  }
  .articulosDeNav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .articulosDeNav li {
    text-align: center;
    width: 20%;
  }
  .articulosDeNav a {
    display: inline-block;
    color: whitesmoke;
    width: 100%;
    text-transform: uppercase;
    padding: 5px 0;
  }
  .contenedorArticulosDetallesGenero {
    justify-content: flex-start;
    padding: 10px;
  }
  .navegadorHeader {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 25px;
    margin: 0 auto;
    width: 80%;
    position: relative;  
   }
  main {
    margin: 20px;
  }
   .contenedorGenres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenedorGenresSeries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .articulosGenres {
    padding: 25.5px;
    width: 25%;
    display: flex;
  }
  
  .contenedorPelisDetalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contenedorSeriesDetalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .tituloGenres {
    color: whitesmoke;
    text-align: left;
  }
   .contenedorArticulosFavoritos {
    padding: 10px;
    flex-direction: row;
  }
  .contenedorArticulosFavoritosSeries {
    padding: 10px;
    flex-direction: row;
  }
  .contenedorArticulosFavoritosPelicula {
    padding: 10px;
    flex-direction: row;
  }
  .listaPelicula {
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  .listaPelicula ul {
    justify-content: center;
  }
  .listaSerie {
    font-size: 40px;
    text-align: center;
    justify-content: center;
  }
  .listaSerie ul {
    justify-content: center;
  }
   .subtitulosDetalles {
    font-size: 50px;
  }
 .searchMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
  
 .searchTVS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
  
 #mainDelIndex section{
    justify-content: center;
  }
 .carga {
  text-align: center;
 }
  
 .sinopsis {
  color: black;
  font-size: 40px;
  text-align: left;
 }
.logopagina{
  width: 50%;
  height: 50%;
  }
  .logoHome{
    width: 50%;
    height: 50%;
  }
  
 