body {
    background-color: gray;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
  }

  a {
    color: #fff;
  }

  img {
    width: 50%;
  }

  nav{
    float: right;
  }
  header{
    border-radius: 30px;
      background-color:black

    }
    header::after{
      content: "";
      display: table;
      clear: both;
    }

    .myNavbar {
        margin: 0 auto;
        width: 80%;
        position: relative;
        background-color: black    
 }

      .logoNav{
        float: left;
        padding: 10px 0 ;
        width: 10%;
      }

      nav ul{
        margin: 0 auto;
        padding: 0;
        list-style: none;
      }

      nav li {
      margin-left: 70px;
      padding-top: 23px;
        display: inline-block


      }
      nav a{
      text-decoration: none;
      color:white;
      text-transform: uppercase;
      font-size: 14px;
      }

      .Peliculasrecomendadas {
        text-align: center;
        list-style: inside;
        display: grid;
        grid-row-gap: 25px;
        grid-column-gap: 25px;
        grid-template-columns: auto auto auto;
         padding: 10px;
         border: 1px solid white;
        padding: 20px;
        text-align: center;
        color: white;
        
        }
        .Lomasvisto {
          text-align: center;
          list-style: inside;
          display: grid;
          grid-row-gap: 25px;
          grid-column-gap: 25px;
          grid-template-columns: auto auto auto;
           padding: 10px;
           border: 1px solid white;
          padding: 20px;
          text-align: center;
          color: white;
        }
        
        .Seriesrecomendadas {
          text-align: center;
          list-style: inside;
          display: grid;
          grid-row-gap: 25px;
          grid-column-gap: 25px;
          grid-template-columns: auto auto auto;
           padding: 10px;
           border: 1px solid white;
          padding: 20px;
          text-align: center;
          color: white;
        }  

      .footer {
        /*position: fixed;*/
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
      }

      .logocine{
        width: 5%;
        float: right;
        }
        .title1 {
            text-align: center;
            margin: 40px;
            color: white;
        }
        
        
    
          .seccionpeliculas {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
          } 
          
          .title2 {
            text-align: center;
            margin: 100px;
            color: white;
        }
    
        .seccionseries {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        
        .img {
           height: 380px;
           width: 250px;
           object-fit: cover;
        }
        .contenedor-padre{
            display: flex;
            width: 100%;
            margin-top: -20px;
         }
         .contenedor-imagen{
            width: 50%;
            padding: 20px;
         }
         .contenedor-texto{
            width: 80%;
            margin-top: 60px;
            margin-left: 20px;
            margin-right: 30px;
            align-items: flex-end;
            flex-wrap: wrap;
         }
         .estrellas{
            width: 20px;
            margin-left: 5px;
         }
         span{
            color: black;
         }
         .imagen{
            margin-top: 30px;
            width: 300px;
         } 
         .h1general{
            text-align: center;
        }
        main{
            display: none;
        }
        .navigation{
            font-size: 19px;
        }